<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recipes Database</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1> Users </h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('users') }}">Users</a> |
        <a href="{{ url_for('recipes') }}">Recipes</a> |
        <a href="{{ url_for('ingredients') }}">Ingredients</a> | 
        <a href="{{ url_for('dietaryRestrictions') }}">Dietary Restrictions</a> |
        <a href="{{ url_for('userRecipes') }}">User Recipes</a> |
        <a href="{{ url_for('recipeIngredients') }}">Recipe Ingredients</a>
    </nav>
    <div id="browse" style="display: block">
        <p><strong>Browse Users</strong></p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#">New</a></th>
                <th></th>
                <th>userId</th>
                <th>email</th>
                <th>restrictionId</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td align="right">{{ user.userID }}</td>
                <td>{{ user.email }}</td>
                <td align="right">{{ user.restrictionID }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert" style="display: block">
        <form id="addUser">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <label> Email </label> <input type="text" name="email">
                <label for="restriction">Dietary restriction </label> 
                <select name="restriction">
                    <option value="">No restriction</option>
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Gluten Free">Gluten Free</option>
                    <option value="Vegan">Vegan</option>
                </select>
            </fieldset>
            <input class="btn" type="submit" id="addUser" value="Add a User">
            <input class="btn" type="button" value="cancel">
        </form> <!--add new planet-->
    </div><!-- insert -->
    
    <p>&nbsp;</p>
    <div id="update" style="display: block">
      <form id="updateUser">
          <legend><strong>Update User</strong></legend>
             
